@keyframes fadeFromBlack {
    0% {
        color: rgba($color-black, 0);
    }

    10% {
        color: rgba($color-black, 0);
    }

    100% {
        color: rgba($color-orange-dark, 1);
    }
}



