@mixin center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

//////////////////////////
/// Media Query manager //
/////////////////////////
///
@mixin respond($breakpoint) {
  @if $breakpoint == 1850 {
    @media only screen and (max-width: 115.625em) {
      @content;
    }
  }
  @if $breakpoint == 1800 {
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  }

  @if $breakpoint == 1700 {
    @media only screen and (max-width: 106.25em) {
      @content;
    }
  }

  @if $breakpoint == 1650 {
    @media only screen and (max-width: 103.125em) {
      @content;
    }
  }

  @if $breakpoint == 1550 {
    @media only screen and (max-width: 96.875em) {
      @content;
    }
  }

  @if $breakpoint == 1500 {
    @media only screen and (max-width: 93.75em) {
      @content;
    }
  }

  @if $breakpoint == 1400 {
    @media only screen and (max-width: 87.5em) {
      @content;
    }
  }

  @if $breakpoint == 1300 {
    @media only screen and (max-width: 81.25em) {
      @content;
    }
  }

  @if $breakpoint == 1250 {
    @media only screen and (max-width: 78.125em) {
      @content;
    }
  }

  @if $breakpoint == 1200 {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == 1100 {
    @media only screen and (max-width: 68.75em) {
      @content;
    }
  }

  @if $breakpoint == 1000 {
    @media only screen and (max-width: 62.5em) {
      @content;
    }
  }

  @if $breakpoint == 950 {
    @media only screen and (max-width: 59.375em) {
      @content;
    }
  }

  @if $breakpoint == 900 {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint == 800 {
    @media only screen and (max-width: 50em) {
      @content;
    }
  }

  @if $breakpoint == 700 {
    @media only screen and (max-width: 43.75em) {
      @content;
    }
  }

  @if $breakpoint == 600 {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint == 500 {
    @media only screen and (max-width: 31.25em) {
      @content;
    }
  }

  @if $breakpoint == 450 {
    @media only screen and (max-width: 28.125em) {
      @content;
    }
  }

  @if $breakpoint == 400 {
    @media only screen and (max-width: 25em) {
      @content;
    }
  }

  @if $breakpoint == 350 {
    @media only screen and (max-width: 21.875em) {
      @content;
    }
  }
}
