// Colors
// $color-orange-light:  #ffefe5;
$color-orange-medium-light: #fdeae0;
$color-orange-medium-light-darken: #fcdfd0;
// $color-orange-medium-tint20: #f49f71;
// $color-orange-medium-darken: #F07432;
$color-black: #000000;
$color-grey: #1a1a1a;
$color-white: #ffffff;
// Brighter colors

// $color-yellow-light: #fff566;
// $color-yellow-light-lighter: #fffab5;

$color-yellow-light: #ffe6b0;
$color-yellow-lighter: #fff6e3;

$color-yellow-mamos: #fbde4b;
$color-yellow-mamos-lighter: #fded9e;
$color-grey-light: #f9fafa;
$color-grey-light-orange: #e9e9e9;

// Complementary
// $color-styling-rectangle: #87ceeb;
// $color-styling-rectangle: #B0E0E6;

// Analogous
// $color-styling-rectangle: #ffd700;
// $color-styling-rectangle: #FF7F50;

// Triadic
// $color-styling-rectangle: #3CB371;
// $color-styling-rectangle: #9370DB;

// Neutral
$color-styling-rectangle: #d3d3d3;
// $color-styling-rectangle: #F5F5DC;

// Shades
// $color-styling-rectangle: #d94e0e;
// $color-styling-rectangle: #ff6f2a;

$color-orange-light: #ffb006;
$color-orange-medium: #ff7d26;
$color-orange-medium-shade-1: #ff7519;

$color-orange-light: #faf1eb;
$color-orange-medium-lol: #F17F42;

$color-orange-dark-tint-2: #f7762e;
$color-orange-dark-tint-1: #f76c1d;
// $color-orange-dark: #ed5f13;
$color-orange-dark: #f6610d;

$color-orange-dark-shade-2: #d95308;
