.u--strong {
  font-weight: 700;
  font-size: 2rem;
}

.u--medium {
  font-size: 1.7rem;
  font-style: italic;
}

.u--new-line {
    display: block;
}

.u--top-margin-small {
  display: block;
  margin-top: 1.75rem;
}
